body {
background-color: cornsilk;
}

h1 {
  color: blue;
  font-size: 26px; 
}

h2 {
  color: blue;
  font-weight: normal;
  font-style: italic;
}

.completed {
  color: green;
}

#tasks .completed {
  text-decoration: underline;
}

img {
  float: left;
  max-height: 200px;
  margin-right: 20px;
}